# Hasil kompilasi
*.class
out/
bin/
target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Log dan file sementara
*.log
*.tmp
